<h2>Patien Name: <%= @patient.first_name %></h2>

<h3>Wounds: </h3>
<ul>
  <% @patient.wounds.each do |wound| %>
  <li> <%= link_to "#{wound.location}", wound %></li>
  <% end %>
</ul>

<p><%= link_to "Record New Wound", new_wound_path(@patient) %></p>